{% extends 'core/base.html' %}
{% load bootstrap4 %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="main-container">
        <h1>Data Explorer</h1>
        <p class="lead">
            Search your data here!
        </p>
        <p>
            <form method="post">
                {% csrf_token %}
                {% crispy form %}
            </form>
        </p>
        {% if results %}
        <p>Results found:</p>
        {% endif %}
    </div>

    {{ form.media.css }}
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    {{ form.media.js }}
{% endblock %}