{% extends 'core/bootstrap.html' %}

{% load bootstrap4 %}

{% block bootstrap4_content %}
    <div class="container">
        <header>
            <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
                <a class="navbar-brand" href="{% url 'index' %}">{% block title %}Data Sifter{% endblock %}</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item {% if request.resolver_match.view_name == 'index' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'index' %}">Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item {% if request.resolver_match.view_name == 'data_explorer:index' %}active{% endif %}">
                            <a class="nav-link" href="{% url 'data_explorer:index' %}">Data Explorer</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link disabled" href="#" onclick="return false;">Experiments</a>
                        </li>
                    </ul>
                    <!--
                    <form class="form-inline mt-2 mt-md-0">
                        <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
                        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                    </form>
                    -->
                </div>
            </nav>
        </header>

        {% autoescape off %}{% bootstrap_messages %}{% endautoescape %}

        <main role="main">
            {% block content %}(no content){% endblock %}
        
            <!-- FOOTER -->
            <footer class="container">
                <p class="float-right"><a href="#">Back to top</a></p>
                <p>v1.0</p>
            </footer>
        </main>
    </div>

{% endblock %}