{% extends 'core/base.html' %}
{% load bootstrap4 %}

{% block content %}
    <main role="main" class="container">

        <div class="main-container">
            <h1>Welcome to DataSifter!</h1>
            <p class="lead">
                Explore audio data and run ML experiments here.
            </p>
            <p>
                <a class="btn btn-primary btn-lg" href="#" role="button">Data Explorer &raquo;</a>
                <a class="btn btn-success btn-lg" href="#" role="button">Experiments &raquo;</a>
            </p>
        </div>
  
      </main><!-- /.container -->
{% endblock %}